@import "tailwindcss";

.inscire-btn {
  border-radius: 30px;
  border-top-left-radius: 0;
  transition: 0.5s;
}

.inscire-btn:hover {
  border-top-left-radius: 30px;
}

.connecter-btn {
  border-radius: 30px;
  border-top-right-radius: 0;
  transition: 0.5s;
}

.connecter-btn:hover {
  border-top-right-radius: 30px;
}